<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../node_modules/polymer-font-awesome/dist/font-face.html">
<link rel="import" href="../../node_modules/polymer-font-awesome/dist/font-awesome.html">

<link rel="import" href="../custom-ajax/custom-ajax.html">
<link rel="import" href="../custom-input/custom-input.html">

<dom-module id="custom-grid">
    <template>
        <style include="font-awesome">
            :host{
                width: 33%;
                float: left;
            }
            
            custom-input {
                margin: auto;
                text-align: center;
                padding-right: 10px;
            }

            .search-container{
                text-align: center;
                padding-bottom: 16px;
            }

            table {
                width: 83%;
                border-collapse: collapse;
                font-family: Roboto, sans-serif;
                font-size: 16px;
                margin: auto;
            }

            tr {
                border-bottom: 1px solid #dbdbdb;
                line-height: 30px;
            }

            tbody>tr:hover {
                background-color: #eeeeee;
            }

            .th-number {
                text-align: left;
                cursor: pointer;
            }

            .th-blacklist {
                cursor: pointer;
            }

            .blacklist-coll {
                width: 1%;
                text-align: center;
            }

            .blacklist-coll>i {
                color: red;
                font-size: 25px;
                padding: 3px;
            }

            .actions-coll {
                width: 27%;
                text-align: center;
            }

            .actions-coll>i {
                font-size: 17px;
                padding: 3px;
                cursor: pointer;
            }
        </style>

        <!-- ajax that requests data -->
        <custom-ajax id="ajaxGetAll" auto path="{{getAllPath}}"></custom-ajax>

        <!-- ajax that deletes/gets specific row -->
        <custom-ajax id="ajax" path="{{crudPath}}"></custom-ajax>

        <div class="search-container">
            <custom-input placeholder="{{placeholderSearch}}" id="inputSearch" data-type="{{dataType}}"></custom-input>
            <button on-click="_handleOnClickSearch"><i class="fa fa-search fa-1" aria-hidden="true"></i></button>
        </div>
        <table>
            <thead>
                <th sort-asc="{{sortAsc}}" class="th-number" on-click="_handleSortByNumber">Número
                    <i id="thNumberIcon" class="fa fa-caret-down" aria-hidden="true" title="Ordenar"></i>
                    </i>
                </th>
                <th class="th-blacklist">Blacklist</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <template id="repeat" is="dom-repeat" items="{{items}}">
                    <tr>
                        <td>[[_applyMask(item.id)]]</td>
                        <td class="blacklist-coll">
                            <template is="dom-if" if="{{item.blacklist}}">
                                <i class="fa fa-ban fa-2" aria-hidden="true" title="Blacklist"></i>
                            </template>
                        </td>
                        <td class="actions-coll">
                            <i class="fa fa-pencil fa-2" on-click="_handleEditRow" aria-hidden="true" title="Edit"></i>
                            <i class="fa fa-trash fa-2" on-click="_handleDeleteRow" aria-hidden="true" title="Delete"></i>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <script>
        class CustomGrid extends Polymer.Element {

            static get is() { return 'custom-grid'; }

            static get properties() {
                return {
                    items: {
                        type: Array,
                        value: []
                    },
                    dataType: {
                        type: String,
                        value: '',
                        reflectToAttribute: true
                    },
                    getAllPath: {
                        type: String,
                        value: "",
                        reflectToAttribute: true
                    },
                    crudPath: {
                        type: String,
                        value: "",
                        reflectToAttribute: true
                    },
                    sortAsc: {
                        type: String,
                        value: true
                    },
                    placeholderSearch: {
                        type: String,
                        value: '',
                        reflectToAttribute: true
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.addEventListener('on-response', (e) => this._handleAjaxResponse(e));
                this.addEventListener('on-enter-input', (e) => this._handleOnClickSearch());
            }

            _handleSortByNumber(e) {
                if(e){
                    this.sortAsc = !this.sortAsc;
                }
                this.items.sort((a, b) => {
                    if(this.sortAsc){
                        return Number(a.id) > Number(b.id);
                    }
                    return Number(a.id) < Number(b.id);
                });

                const iconClassName = this.$.thNumberIcon.className;

                if(this.sortAsc){
                    this.$.thNumberIcon.className = iconClassName.replace("down", "up");
                }else{
                    this.$.thNumberIcon.className = iconClassName.replace("up", "down");
                }

                this.$.repeat.render();
            }

            _handleAjaxResponse(e) {
                this.items = e.detail.data;
                this._handleSortByNumber();
            }

            _handleEditRow(e) {
                this.dispatchEvent(new CustomEvent('on-edit-row', {
                    bubbles: true, composed: true, detail: {
                        dataType: this.dataType,
                        data: e.model.get('item')
                    }}));
            }

            _handleDeleteRow(e) {
                let itemSelected = e.model.get('item'),
                    indexSelected = this.items.indexOf(itemSelected);

                //binding the ID selected to custom-ajax attrib path
                const oldCrudPath = this.crudPath;
                this.crudPath = this.crudPath.replace(':id', itemSelected.id);

                this.$.ajax.method = "DELETE";

                this.$.ajax.generateRequest().then(data => {
                    this.splice('items', indexSelected, 1);
                });
                this.crudPath = oldCrudPath;
            }

            _handleOnClickSearch(){

                const inputSearchValue = this.$.inputSearch.getValue();
                
                if(inputSearchValue === ''){
                    this.$.ajaxGetAll.generateRequest()
                        .then( data => {
                            this.items = data;
                        })
                        .catch(statusCode => {
                            alert("Erro interno. Entre em contato com o suporte.");
                        });
                    return;
                }

                const oldCrudPath = this.crudPath;
                this.crudPath = this.crudPath.replace(':id', inputSearchValue);
                this.$.ajax.method = "GET";

                this.$.ajax.generateRequest()
                    .then(data => {
                        this.items = [data];
                    })
                    .catch(statusCode => {
                        if(statusCode === 400){
                            alert('Registro inválido.');
                        }
                        
                        if(statusCode === 404){
                            this.items = [];
                        }
                    });
                this.crudPath = oldCrudPath;
            }

            _applyMask(value){
                if (this.dataType === 'individuals') {
                    return value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/g, "\$1.\$2.\$3\-\$4");
                } else {
                    return value.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g, "\$1.\$2.\$3\/\$4-\$5");
                }
            }

            addItem(item){
                this.items.push(item);
                this._handleSortByNumber();
                this.$.repeat.render();
            }

            removeItem(itemToRemove){
                this.items = this.items.filter(item => {
                    return item.id !== itemToRemove.id;
                })
                this._handleSortByNumber();
                this.$.repeat.render();                
            }
        }

        window.customElements.define(CustomGrid.is, CustomGrid);
    </script>
</dom-module>