<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="custom-input">
    <template>
        <style>
            input {
                border: none;
                outline: none;
                border-bottom: 1px solid #dbdbdb;
                font-size: 19px;
                text-align: center;
            }
        </style>
        <input placeholder="{{placeholder}}" value="{{value}}" id="innerInput" on-keyup="_handleKeyUp" on-keydown="_handleKeyDown">
    </template>
    <script>
        class CustomInput extends Polymer.Element {
            static get is() { return 'custom-input'; }

            static get properties() {
                return {
                    dataType: {
                        type: String,
                        value: "individual",
                        reflectToAttribute: true,
                        observer: "_dataTypeChanged"
                    },
                    value: {
                        type: String,
                        value: "",
                        reflectToAttribute: true
                    },
                    placeholder: { 
                        type: String,
                        value: "",
                        reflectToAttribute: true
                    }
                };
            }

            render() {
                super.render();
                this._dataTypeChanged();
            }

            _dataTypeChanged() {
                const maxLength = this.dataType === "individuals" ? 14 : 18;
                this.$.innerInput.setAttribute('maxlength', maxLength);
                this.$.innerInput.setAttribute('size', maxLength);
            }

            _handleKeyDown(e) {
                if(e.key === 'Enter'){
                    this.dispatchEvent(new CustomEvent('on-enter-input', {
                        bubbles: true, composed: true}));
                    e.preventDefault();
                }

                if (!e.key.match(/\d|Shift|Arrow|Backspace/g) && !e.ctrlKey) {
                    e.preventDefault();
                }
            }

            _handleKeyUp(e) {
                this.applyMask();
                if(e.code === 'Backspace') return;
                if (this.dataType === 'individuals') {
                    this._handleKeyUpForIndividuals(e);
                } else {
                    this._handleKeyUpForCompanies(e);
                }
            }

            _handleKeyUpForIndividuals(e) {
                const length = e.target.value.length;
                if (length === 3 || length === 7) {
                    e.target.value += ".";
                }
                if (length === 11) {
                    e.target.value += "-";
                }
            }

            _handleKeyUpForCompanies(e) {
                const length = e.target.value.length;
                if (length === 2 || length === 6) {
                    e.target.value += ".";
                }

                if (length === 10) {
                    e.target.value += "/";
                }

                if (length === 15) {
                    e.target.value += "-";
                }
            }

            getValue(){
                return this.$.innerInput.value.replace(/\D/g,'');
            }

            applyMask(){
                let value = this.$.innerInput.value;
                if (this.dataType === 'individuals') {
                    this.$.innerInput.value = value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/g, "\$1.\$2.\$3\-\$4");
                } else {
                    this.$.innerInput.value = value.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g, "\$1.\$2.\$3\/\$4-\$5");
                }
            }
        }

        window.customElements.define(CustomInput.is, CustomInput);
    </script>
</dom-module>