<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../custom-input/custom-input.html">
<link rel="import" href="../custom-ajax/custom-ajax.html">

<dom-module id="custom-form">
    <template>
        <style>
            :host {
                width: 33%;
                float: left;
                text-align: center;
            }

            label {
                padding-top: 25px;
                padding-bottom: 60px;
                display: block;
            }

            input, button{
                font-size: 17px;
            }

            custom-input {
                padding-top: 25px;
                display: block;
            }
        </style>

        <h3 id="formTitle">Cadastro de CPF/CNPJ</h3>
        
        <custom-ajax id="ajax" method="POST"></custom-ajax>

        <custom-ajax id="ajaxDelete" method="PUT"></custom-ajax>

        <input type="radio" name="personType" on-click="_handleRadioClick" id="individuals" checked> Pessoa Física
        <input type="radio" name="personType" on-click="_handleRadioClick" id="companies"> Pessoa Jurídica

        <custom-input placeholder="{{placeholderInput}}" id="idNumber" data-type="{{dataType}}"></custom-input>

        <label>
            Blacklist
            <input id="blacklist" type="checkbox">
        </label>
        <input on-click="_handleSubmit" type="submit">
        <template is="dom-if" if="{{edit}}">
                <button on-click="_handleCancel">Descartar</button>
        </template>
    </template>

    <script>
        class CustomForm extends Polymer.Element {

            static get is() { return 'custom-form'; }

            static get properties() {
                return {
                    dataType: {
                        type: String,
                        value: "individuals",
                        observer: "_dataTypeObserver"
                    },
                    placeholderInput: {
                        type: String,
                        value: ""
                    },
                    oldData: {
                        type: Object,
                        value: {}
                    },
                    edit: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            _dataTypeObserver(newValue){
                this.placeholderInput = newValue === 'individuals' ? "Ex: 000.000.000-00" : "Ex: 00.000.000/0000-00";
                this.$.ajax.path = newValue === 'individuals' ? this.individualsPostPath : this.companiesPostPath;
                this.$.ajaxDelete.path = newValue === 'individuals' ? this.individualsCrudPath : this.companiesCrudPath;
            }

            connectedCallback(){
                super.connectedCallback();
                this.addEventListener('on-enter-input', (e) => this._handleSubmit());
            }

            _handleRadioClick(e) {
                this.dataType = e.target.id;
            }

            _handleSubmit(){
                const data = {
                    id: this.$.idNumber.getValue(),
                    blacklist: this.$.blacklist.checked
                };

                if(this.edit){
                    this._editData(data);
                    return;
                }

                this.$.ajax.generateRequest(data)
                    .then( dataSaved => {
                        this.dispatchEvent(new CustomEvent('on-save-form', {
                            bubbles: true, composed: true, detail: {
                                data: dataSaved,
                                dataType: this.dataType
                            }}));
                    })
                    .catch( statusCode => {
                        this._showAlert(statusCode);
                    });
            }

            _showAlert(statusCode){
                if(statusCode === 303){
                    alert('Registro já é cadastrado no sistema.');
                    return;
                }
                if(statusCode === 400){
                    alert('Registro inválido.');
                    return;
                }
                alert("Erro interno. Entre em contato com o suporte.");
            }

            _handleCancel(){
                this.edit = false; 
                this.oldData = {};
                
                this.dataType = "individuals"
                this.$.idNumber.value = "";
                this.$.blacklist.checked = false;
                this.$.formTitle.innerText = "Cadastro de CPF/CNPJ";
                
                this.$.individuals.checked = true;
                this.$.individuals.disabled = false;
                this.$.companies.disabled = false;
            }

            _editData(data){
                const oldCrudPath = this.$.ajaxDelete.path;
                
                this.$.ajaxDelete.path = this.$.ajaxDelete.path.replace(':id', this.oldData.id);
                
                this.$.ajaxDelete.generateRequest(data)
                    .then(res => {
                        this.dispatchEvent(new CustomEvent('on-edit-form', {
                            bubbles: true, composed: true, detail: {
                                oldData: this.oldData,
                                data: res,
                                dataType: this.dataType
                            }}));
                    })
                    .catch(statusCode => {
                        this._showAlert(statusCode);
                    })
                this.$.ajaxDelete.path = oldCrudPath;
            }

            editData(data, dataType){
                this.edit = true;
                this.oldData = data;
                this.dataType = dataType;

                this.$.idNumber.value = data.id;
                this.$.idNumber.applyMask();
                
                this.$[dataType].checked = true;

                // disabling radios, because on edition you cant change the data type
                this.$.individuals.disabled = true;
                this.$.companies.disabled = true;

                this.$.blacklist.checked = data.blacklist;

                this.$.formTitle.innerText = "Edição do " + 
                    (this.dataType === 'individuals' ? "CPF" : "CNPJ") +
                    ": " + this.$.idNumber.value;
            }

        }

        window.customElements.define(CustomForm.is, CustomForm);
    </script>
</dom-module>