<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../custom-grid/custom-grid.html">
<link rel="import" href="../custom-form/custom-form.html">

<dom-module id="br-id-validator-app">
    <template>
        <style>
            :host {
                margin: 40px auto;
                height: 100%;
            }

            #form {
                border-right: 1px solid #dbdbdb;
                height: 95%;
            }

            custom-grid {
                padding-top: 15px;
            }
        </style>
        <custom-form 
            id="form"
            individuals-crud-path="{{individualsCrudPath}}"
            individuals-post-path="{{individualsGetPostPath}}"
            companies-crud-path="{{companiesCrudPath}}"
            companies-post-path="{{companiesGetPostPath}}">
        </custom-form>
        <custom-grid
            id="individuals"
            data-type="individuals"
            get-all-path="{{individualsGetPostPath}}"
            crud-path="{{individualsCrudPath}}" 
            placeholder-search=" Procurar por CPF">
        </custom-grid>
        <custom-grid 
            id="companies"
            data-type="companies"
            get-all-path="{{companiesGetPostPath}}" 
            crud-path="{{companiesCrudPath}}" 
            placeholder-search=" Procurar por CNPJ">
        </custom-grid>
    </template>

    <script>
        class BrIdValidatorApp extends Polymer.Element {
            static get is() { return 'br-id-validator-app'; }
            static get properties() {
                return {
                    individualsGetPostPath: {
                        type: String,
                        value: "/individuals"
                    },
                    individualsCrudPath: {
                        type: String,
                        value: "/individual/:id"
                    },
                    companiesGetPostPath: {
                        type: String,
                        value: "/companies"
                    },
                    companiesCrudPath: {
                        type: String,
                        value: "/company/:id"
                    }
                };
            }

            connectedCallback(){
                super.connectedCallback();
                this.addEventListener("on-edit-row", (e) => this._handleOnEditRow(e));
                this.addEventListener("on-save-form", (e) => this._handleOnSave(e));
                this.addEventListener("on-edit-form", (e) => this._handleOnEdit(e));
            }
            
            _handleOnEdit(e){
                const customGrid = this.$[e.detail.dataType];
                customGrid.removeItem(e.detail.oldData);
                customGrid.addItem(e.detail.data);
            }

            _handleOnSave(e){
                this.$[e.detail.dataType].addItem(e.detail.data);
            }

            _handleOnEditRow(e){
                this.$.form.editData(e.detail.data, e.detail.dataType);
            }
        }

        window.customElements.define(BrIdValidatorApp.is, BrIdValidatorApp);
    </script>
</dom-module>