<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="custom-ajax">
    
    <script>
        class CustomAjax extends Polymer.Element {

            connectedCallback() {
                super.connectedCallback();
                if (this.auto) {
                    fetch(this.__serverUrl + this.path)
                        .then(res => res.json())
                        .then(data => {
                            this.dispatchEvent(new CustomEvent('on-response', {
                                bubbles: true, composed: true, detail: {
                                    data: data
                                }}));
                        })
                        .catch(err => {
                            console.warn("Error trying to make request: ", this.path);
                        });
                }
            }

            static get is() { return 'custom-ajax'; }

            static get properties() {
                return {
                    __serverUrl: { //this is how Polymer recommends declaring private props
                        type: String,
                        value: "http://localhost:3000"
                    },
                    auto: {
                        type: Boolean,
                        value: false
                    },
                    method: {
                        type: String,
                        value: "GET"
                    },
                    path: {
                        type: String,
                        value: "",
                        reflectToAttribute: true
                    }
                };
            }

            generateRequest(body) {
                let config = {
                    method: this.method,
                    headers: {'Content-Type': 'application/json'}
                };

                if(body){
                    config.body = JSON.stringify( body );
                }

                return new Promise((resolve, reject) =>{
                    fetch(this.__serverUrl + this.path, config)
                        .then(res => {
                            if(res.status > 300 || res.status < 200){
                                return reject(res.status);
                            }
                            return res.json();
                        })
                        .then(data => {
                            resolve(data);
                        })
                        .catch(err => {
                            reject(err);
                            console.warn("Error trying to make request: ", this.path);
                        });
                });
            }
        }
        window.customElements.define(CustomAjax.is, CustomAjax);
    </script>
</dom-module>